<a href="https://colab.research.google.com/github/jacklai94/SampleCaseStudy/blob/main/SampleCaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Exploratory Data Analysis (EDA)**

**Import Package**

In [19]:
# Import package as pandas does not ship along as native package
# use pip install pandas if not installed yet, or follow setup guide

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
dataframe = pd.read_csv("https://raw.githubusercontent.com/jacklai94/SampleCaseStudy/main/Interview.csv")
dataframe.head()

   #   Name  Age Gender  ...  Walk-In Video Call Phone Call Letter
0  1    Ali   22      M  ...        x        NaN        NaN    NaN
1  2   Mutu   25      M  ...      NaN        NaN        NaN    NaN
2  3    Lim   33      M  ...      NaN          x        NaN    NaN
3  4  Angie   47      F  ...        x          x          x      x
4  5   Jack   26      M  ...      NaN        NaN        NaN    NaN

[5 rows x 14 columns]

In [5]:
# Checking for indices
dataframe.index

RangeIndex(start=0, stop=20, step=1)

In [6]:
dataframe.columns

Index(['#', 'Name', 'Age', 'Gender', 'Annual Income', 'Education',
       'Phone Owned', 'Email', 'Web', 'Mobile', 'Walk-In', 'Video Call',
       'Phone Call', 'Letter'],
      dtype='object')

In [7]:
# Validating uniqueness
dataframe.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [8]:
dataframe.nunique()

#                20
Name             20
Age              15
Gender            2
Annual Income    16
Education         5
Phone Owned      18
Email             1
Web               1
Mobile            1
Walk-In           1
Video Call        1
Phone Call        1
Letter            1
dtype: int64

In [9]:
# Checking for missing values
dataframe.isnull()

        #   Name    Age  Gender  ...  Walk-In  Video Call  Phone Call  Letter
0   False  False  False   False  ...    False        True        True    True
1   False  False  False   False  ...     True        True        True    True
2   False  False  False   False  ...     True       False        True    True
3   False  False  False   False  ...    False       False       False   False
4   False  False  False   False  ...     True        True        True    True
5   False  False  False   False  ...    False       False       False    True
6   False  False  False   False  ...     True        True       False   False
7   False  False  False   False  ...     True       False        True    True
8   False  False  False   False  ...    False        True       False    True
9   False  False  False   False  ...     True        True        True    True
10  False  False  False   False  ...     True       False        True    True
11  False  False  False   False  ...     True        True        True    True
12  False  False  False   False  ...     True        True        True    True
13  False  False  False   False  ...     True        True        True    True
14  False  False  False   False  ...     True       False        True    True
15  False  False  False   False  ...     True        True        True    True
16  False  False  False   False  ...     True       False       False   False
17  False  False  False   False  ...     True       False        True    True
18  False  False  False   False  ...    False        True        True    True
19  False  False  False   False  ...     True        True        True    True

[20 rows x 14 columns]

In [10]:
dataframe.isnull().sum()

#                 0
Name              0
Age               0
Gender            0
Annual Income     0
Education         0
Phone Owned       0
Email             1
Web               7
Mobile            6
Walk-In          15
Video Call       12
Phone Call       15
Letter           17
dtype: int64

a. What is the median age of subjects in the sample size above?

In [17]:
# Getting specific summative value on a Series
dataframe.Age.median()

27.5

b. What is the average salary difference of a person with only a diploma vs one with a Master's degree?

In [22]:
# DataFrameGroupByObject can be thought as a resemblance to DataFrame
# and certain functions can be applied on it by using apply method
dataframe.groupby('Annual Income').apply(lambda x: x.loc[:, 'Annual_Income'])

KeyError: ignored

In [23]:
dataframe.groupby("Annual Income").count()

               #  Name  Age  Gender  ...  Walk-In  Video Call  Phone Call  Letter
Annual Income                        ...
12000          1     1    1       1  ...        1           0           1       0
12200          1     1    1       1  ...        1           0           0       0
15000          2     2    2       2  ...        1           1           0       0
16000          1     1    1       1  ...        0           0           0       0
17000          1     1    1       1  ...        0           0           0       0
18000          2     2    2       2  ...        1           1           1       0
25000          2     2    2       2  ...        0           1           0       0
30000          2     2    2       2  ...        0           0           0       0
33000          1     1    1       1  ...        0           0           0       0
36000          1     1    1       1  ...        0           1           0       0
42000          1     1    1       1  ...        0           0           0       0
45000          1     1    1       1  ...        1           1           1       1
75000          1     1    1       1  ...        0           1           0       0
80000          1     1    1       1  ...        0           1           0       0
110000         1     1    1       1  ...        0           1           1       1
120000         1     1    1       1  ...        0           0           1       1

[16 rows x 13 columns]

https://github.com/KianYang-Lee/pandas-tutorial/blob/main/contents/06_data_analysis.ipynb

In [14]:
dataframe.groupby(["Annual Income", "Education"])..mean().sort_values(ascending=True)

SyntaxError: ignored


c. Does age affect the salary of someone with a diploma? Please justify in mathematical terms.

d. How much do you think a diploma holder will be earning at the age of 40? Please share your hypothesis & the calculations that lead to that outcome.

e. What kind of phone do you think someone who earns RM 5,000 & above per month will possess? Kindly advise on your assumptions, and the calculations you considered.

f. What is the most preferred way of requesting for an interview for someone who spends more than RM 2,000 for their phone?

g. If we wanted to introduce the concept of employability (likelihood of someone being hired) in the mix, what kind of additional data would you factor into your calculations?

h. What is your experience in running an experiment? Can you describe what you were trying to achieve from your experiment, and how one can usefully apply the data you obtained. from your project for future experiments?

i. What is your favourite website or app? If someone asked you to describe how much better your preferred website or app is against the others, how would you go about doing this?

j. If you are required to build a decision tree data mining algorithm to predict a winning candidate based on a given job , kindly describe how you your approach would be like.